@charset "UTF-8";
.no-js body .container #grid3d .content div .introduction {
}
.introduction {
	left: 40%;
	position: absolute;
	padding-top: 20px;
	width: 600px;
	height: 200px;
}

.menu {
	position: fixed;
	top: 0px;
	left: 250px;
	width: 100px;
	height: 25px;
	background-color: #52D8E6;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	cursor: pointer;
	text-align: center;
}
header {
	width: 1000px;
	height: 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	text-align: left;
	padding-top: 50px;
	padding-left: 250px;
}
.wrapper header #title {
	position: absolute;
	left: 250px;
	width: 190px;
	height: 1px;
	background-color: #000000;
	top: auto;
}
.wrapper #showMenu #block {
	width: 5px;
	height: 1em;
	background-color: #000000;
}
.wrapper #showMenu #menu_position {
	left: 60px;
	position: absolute;
	top: 7px;
	text-align: left;
}
#perspective .container #layout {
	position: fixed;
	top: 85px;
	width: 2000px;
	height: 50px;
	background-color: #52D8E6;
	z-index: -10000
}
.container .wrapper footer {
}
